# Excluir documentos y archivos no deseados
*.pdf
*.txt
*.md
*.drawio
# Excluir archivos temporales y de sistema
*.pyc
__pycache__/
.DS_Store
Thumbs.db
# Excluir base de datos local

# Excluir entorno virtual
.venv/
# Excluir archivos de configuración de VSCode
.vscode/
